<div class="header">
	<div class="nav-content">
		<ul class="navbar-nav">
			<li>
				<a href="javascript:void(0)" routerLink="/demo/home">Home</a>
			</li>
			<li>
				<a href="javascript:void(0)" routerLink="/demo/dashboard">Dashboard</a>
			</li>
		</ul>
	</div>
	<div class="logout">
		<ul class="navbar-nav">
			<div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" id="logoutDropdown" ngbDropdownToggle>
		      	<span>{{userId}}</span>
		      </button>
		      <div class="dropdown-menu" aria-labelledby="logoutDropdown">
		        <button class="dropdown-item" (click)="logout()">Logout</button>
		      </div>
		    </div>
		</ul>
	</div>
</div>
<div class="clear main-content">
	<router-outlet></router-outlet>
</div>
<div class="clear"></div>
